
/* Css for about page. */

article {
  margin: 2%;
}

.aboutinfo header {
  font-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  color: #000080;
  font-style: italic;
  //text-align: center;
  padding-left: 40%;
  text-decoration: underline;
}

.aboutinfo p {
  text-indent: 5%;
  font-size: 150%;
  color: #FF8C00;
  text-align: justify;
  padding: 0.5%;
}

footer {
  position: fixed;
}
