
/* Css for contact page. */

#contactinfo ul {
  width: 100%;
  padding-right: 2%;
  list-style-type: none;
  margin: 0;
}

#contactinfo ul li {
  display: inline;
  padding-right: 1%;
  padding-left: 1%;
}

#contactinfo ul a {
  font-size: 150%;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

/* #contactinfo .fa {
  color: #000080;
} */

#map {
  height: 25%;
  width: 95%;
  padding: 2%;
}

iframe {
  height: 100%;
  width: 100%;
}

#contactinfo b {
  color: #000080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

#contactinfo {
  margin: 2%;
  float: left;
  width: 50%;
}

#contactform {
  margin: 2%;
  float: right;
  width: 50%;
}

#contactinfo .info {
  color: #FF8C00;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
}

article header h1 {
  color: #000080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin: 1%;
}

article header h6 {
  color: #FF8C00;
  font-size: 100%;
  opacity: 0.5;
  margin: 1%;
}

hr {
  width: 20%;
  margin-bottom: 5%;
  margin-left: 0%;
}

#contactinfo table {
  width: 80%;
  text-align: left;
  border-collapse: collapse;
}

#contactinfo td {
  padding: 3%;
  border-top: 1px solid;
  border-color: #FF8C00 transparent;
}

#contactdetails {
  width: 100%;
  display: flex;
}

fieldset {
  border-color: #000080;
  color: #FF8C00;
  border-radius: 8px;
  //box-shadow: 0 0 10px #FF8C00;
  font-size: 150%;
}

fieldset label {
  color: #FF8C00;
}

fieldset .info {
  text-align: right;
}

fieldset table {
  width: 100%;
}

.button {
  background-color: #000080;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.btn td {
  width: 50%;
}

.btn {
  width: 50%;
}

.btn {
  text-align: center;
}

.red {
  display: inline;
  color: #FF0000;
}
