body{
  margin: 0 auto;
  font-family: Brush Script MT, Brush Script Std, cursive;
  width:100%;
}

#logo {
  float: left;
  height: 90%;
  margin: 0.5%;
  padding-left: 10%;
}

nav {
  box-shadow: 0 0 4px #000080;
  background-color: transparent;
  height: 15%;
  font-size: 200%;
  width: 100%;
  background-color: #FFFFFF;
}

marquee {
font-size: 120%;
    color: #000080;
font-family: robto;
}

#menu {
  float: right;
  width: 70%;
  padding: 2%;
  text-align: right;
  list-style-type: none;
  margin: 0;
}

.menu-item {
  display: inline;
  padding-right: 1%;
  padding-left: 1%;
}

.menu-item a {
  text-decoration: none;
  color: #FF8C00;
  display: inline-block;
  position: relative;
}

.menu-item a:hover {
  color: #00008B;
}

.menu-item a:active {
  color: #000080;
}

.menu-item a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background-color: #FF8C00;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu-item a:hover:after { 
  width: 100%; 
  left: 0; 
}

section#wrapper {
  height: 75%;
} 

#main{

  /* The image used */
  background-image: url("images/home-content.jpeg");
height:100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section#wrapper article {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 5px #000080;
  width: 60%;
  height: 50%;
  display: block;
  margin: 8% auto 9% auto;
}

section#wrapper article blockquote{
  text-align: center;
  font-size: 400%;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-style: italic;
  color: #FF8C00;
  margin: 0 auto;
}

section#wrapper img{
  height: 50%;
  opacity: 0.5;
  float: right;
  margin-top: -5%;
  padding: 1%;
}

footer{
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #000080;
  font-size: 150%;
    background-color: #FFFFFF;
    height: 5%;
    padding: 1%;
    border-top: #000080 solid 5px;
  width: 98%;
   left: 0;
   bottom: 0;
}

footer ul{
  float: right;
  width: 70%;
  padding-right: 2%;
  text-align: right;
  list-style-type: none;
  margin: 0;
}

footer ul li {
  display: inline;
  padding-right: 1%;
  padding-left: 1%;
}

footer ul a {
  text-decoration: none;
  color: #000080;
  display: inline-block;
  position: relative;
}

#contactinfo ul{
  width: 100%;
  padding-right: 2%;
  list-style-type: none;
  margin: 0;
}

#contactinfo ul li {
  display: inline;
  padding-right: 1%;
  padding-left: 1%;
}

#contactinfo ul a {
  font-size: 150%;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

p{
float:left;
  margin: 0;
}

.fa{
color:#FF8C00;
}

/* #contactinfo .fa{
color:#000080;
} */

#map {
height: 25%;
width: 95%;
padding: 2%;
}

iframe {
height:100%;
width:100%;
}

#contactinfo b{
color: #000080;
font-family: roboto;
font-size: 150%;
}

#contactinfo{
margin:2%;
float:left;
width: 50%;
}

#contactform {
margin:2%;
float:right;
width: 50%;
}

#contactinfo .info{
color: #FF8C00;
font-family: roboto;
opacity: 0.5;
}

article header h1{
color: #000080;
font-family: roboto;
font-size: 250%;
margin: 1%;
}

article header h6{
color: #FF8C00;
font-size: 100%;
opacity: 0.5;
margin: 1%;
}

hr{
width: 20%;
margin-bottom: 5%;
margin-left: 0%;
}

#contactinfo table{
width:80%;
text-align:left;
border-collapse: collapse;
}

#contactinfo td{
padding: 3%;
border-top: 1px solid;
border-color: #FF8C00 transparent;
}

#contactdetails {
width:100%;
display:flex;
}

fieldset{
border-color: #000080;
color: #FF8C00;
border-radius: 8px;
//box-shadow: 0 0 10px #FF8C00;
font-size: 150%;
}

input,textarea {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #000080;
  width: 100%;
}

input:focus {
  border-color: #FF8C00;
}

fieldset label{
color: #FF8C00;
}

fieldset .info{
text-align: right;
}

fieldset table{
width: 100%;
}

.button {
  background-color: #000080;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.btn td{
 width:50%;
}

.btn{
 width:50%;
}

.btn {
text-align:center;
}

.about header{
font-size: 300%;
    font-family: robto;
    color: #000080;
    font-style: italic;
//text-align: center;
padding-left: 40%;
}

.about p{
text-indent: 5%;
font-size: 150%;
color: #FF8C00;
text-align:justify;
padding: 0.5%;
}

.faculty{
width: 100%;
border-collapse: collapse;
}

.faculty img{
    width: 100%;
    height: 50%;
    border: 2px solid #000080;
    padding: 0.5%;
    margin: 2%;
transition: transform .2s; /* Animation */
}

.faculty img:hover {
  transform: scale(1.5); 
}

.faculty .photo{
width: 20%;
border-bottom: 1px solid #FF8C00;
}
.faculty .info b{
color:#FF8C00;
}

.faculty .info{
width:70%;
Padding: 2%;
font-family: auto;
color: #000080;
font-size: 150%;
border-bottom: 1px solid #FF8C00;
}

.staff{
Padding: 2%;
width: 100%;
 border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.staff img{
    width: 70%;
    height: 30%;
    border: 2px solid #000080;
    padding: 0.5%;
    margin: 2%;
    transition: transform .2s; /* Animation */
}

.staff img:hover {
  transform: scale(1.5); 
}

.staff .photo{
width: 30%;
text-align:center;
}
.staff .info b{
color:#FF8C00;
}

.staff tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.staff .info{
width:100%;
font-family: auto;
color: #000080;
font-size: 100%;
text-align:center;
animation: fadeInUp ease 5s;
}

@keyframes fadeInUp {
  from { 
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.red{
display: inline;
color: #FF0000;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #FF8C00;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style-type: none;
  z-index: 1;
}

.submenu a {
  color: #FFFFFF;
  padding-right: 4%;
  text-decoration: none;
}

.submenu a:hover {background-color: #000080;}

.menu-item:hover .submenu {display: block;}

